[submodule "NurtEngine/vendor/spdlog"]
	path = NurtEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "NurtEngine/vendor/GLFW"]
	path = NurtEngine/vendor/GLFW
	url = https://github.com/TheCherno/glfw
