# Binaries
**/bin/
bin-int/

# NurtEngine files
*.log

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user

# Directories
NurtEngine/vendor/VulkanSDK
NurtEngine/assets/cache
scripts/__pycache__